.login__animation-toRight {
  animation: slideToRight2 0.7s ease-in-out;
}
.login__animation-toLeft {
  animation: slideToLeft 0.7s ease-out;
}

@media all and (max-width: 769px) {
  .login__container {
    flex-direction: column;
  }
  .login__left,
  .login__right {
    width: 100%;
  }
  .login__left,
  .login__right {
    height: fit-content;
  }
  .login__left > h4 {
    margin-top: 1em;
  }
  .login__right {
    height: fit-content;
  }
  .login__right > h4 {
    display: none;
  }
  .login__right > a {
    display: none;
  }
}
