.signup__animation-toRight {
  animation: slideToRight 0.7s ease-out;
}
.signup__animation-toLeft {
  animation: slideToLeft2 0.7s ease-in-out;
}

@media all and (max-width: 769px) {
  .signup__container {
    flex-direction: column;
  }
  .signup__right,
  .signup__left {
    width: 100%;
  }
  .signup__left {
    display: none;
  }
  .signup__right {
    height: 100%;
  }
}
