.signup__container {
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 1em;
  overflow: hidden;
}
.signup__container > div {
  padding: 1em;
}
.signup__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.signup__right > h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}
.signup__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup__left > h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.signup__left > p {
  text-align: center;
  margin-bottom: 0.4em;
}
.signup__left > a {
  width: 40%;
}
.signup__left > a button {
  border-radius: 2em;
  width: 100%;
  padding: 0.7em 1em;
}
.signup__animation-toRight {
  animation: slideToRight 0.7s ease-out;
}
.signup__animation-toLeft {
  animation: slideToLeft2 0.7s ease-in-out;
}

@media all and (max-width: 769px) {
  .signup__container {
    flex-direction: column;
  }
  .signup__right,
  .signup__left {
    width: 100%;
  }
  .signup__left {
    display: none;
  }
  .signup__right {
    height: 100%;
  }
}
