@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
}

// Animations
.fade-animation {
  animation: opacityTransition 0.3s ease-in;
}
@keyframes opacityTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(140%);
  }
  50% {
    width: 70%;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideToLeft2 {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(-140%);
  }
  50% {
    width: 70%;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideToRight2 {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
